form {
  margin: 2% 9% 2% 9%;
  padding: 3% 12%;
  box-shadow: 6px 6px 18px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0;
  border: 2px solid rgb(166, 166, 166, 0.5);
}

form div {
  padding: 1% 0;
  outline: none !important;
}

a {
  color: black;
}

.form-h1 {
  text-align: center;
}

label:focus,
input:focus,
textarea:focus {
  box-shadow: none !important;
  border: 2px solid rgb(166, 166, 166, 0.5) !important;
}

form button {
  background-color: rgb(221, 221, 221) !important;
  border: 1px solid rgb(166, 166, 166, 0.5) !important;
  color: black !important;
  transition: 0.4;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
}

form button:hover {
  background-color: rgb(221, 221, 221) !important;
  border: 1px solid rgb(166, 166, 166, 0.5) !important;
  color: black !important;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
}

.form-btn-p {
  display: flex;
  justify-content: space-between;
}

.contactos {
  margin: 0 9% 4% 9%;
  grid-column-gap: 4%;
}

.contactos-maps,
.contactos-info {
  border: 1px solid rgb(166, 166, 166);
  margin: 5% 0;
  box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.contactos-info {
  padding: 15px;
}

.contactos-info h3 {
  text-align: center;
}

.medias {
  display: flex;
  width: 100%;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  border-top: 1px solid rgb(166, 166, 166);

  background: none !important;
  height: 600px;
}

#gmap_canvas {
  height: 600px;
  width: 100%;
}

.contactos-maps-h3 {
  padding: 1% 0;
  text-align: center;
}

.medias-items i {
  font-size: 8px;
  line-height: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.medias-items li {
  line-height: 20px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.medias-items {
  margin: 3% !important;
  padding: 0 !important;
}

div ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media screen and (max-width: 425px) {
  .medias ul {
    display: inline-block;
  }

  .medias li {
    margin: 17.5px 0;
  }

  .medias i {
    display: none;
  }

  form {
    padding: 10px;
  }

  .contactos-maps {
    height: 350px;
  }

  #gmap_canvas {
    height: 300px;
    width: 100%;
  }
}
