@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  list-style-type: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  z-index: 10;
}

/* Estilos del Header */


.headerNav-div a {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  letter-spacing: 2px;
  transition: 0.3s;
  display: block;
  padding: 2%;
  text-decoration: none;
  color: rgb(116, 116, 116);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

.headerDiv {
  display: flex;
  width: 100%;
  height: auto;
}

.headerLogo {
  width: 30%;
  display: flex;
  margin: auto 0;
}

.headerLogo-img {
  height: auto;
  width: 50%;
  transition: 0.2s;
  float: right;
}

.headerLogo-img:hover {
  transform: scale(1.1);
}

.headerNav {
  width: 100%;
}

.headerNav-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  height: 150px;
}

.headerNav-ul li {
  margin: 1% 0;
  font-family: "Inter";
  font-size: 20px;
  font-weight: bolder;
  white-space: nowrap;
}

.headerBorder {
  width: 100%;
  height: 3px;
  background: linear-gradient(#a3a3a3 10%, #ffffff 100%);
  opacity: 1;
}


nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

nav a:hover {
  opacity: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: rgb(54, 54, 54);
}


/* Footer */

.footer {
  width: 100%;
  height: auto;
}


.footerItem {
  display: flex;
  width: 55%;
  margin: 50px auto;
  justify-content: space-between;
}

.footerItem a {
  color: black;
  font-size: 15px;
  transition: 0.5s;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;
  word-spacing: 2px;
  transition: 0.3s;
  display: block;
  padding: 0 0 7px 0;
}

.footerLogo {
  display: flex;
  margin: auto;
  padding: 50px 0 0 0;
  width: 260px;
  height: 100%;
  transition: 0.3s;
}

.footerCopyRight {
  color: black;
  display: flex;
  justify-content: center;
}

.footerCyberTec {
  color: black;
}

.footerCyberTec:hover {
  opacity: 0.5;
}

.logoCyberTec {
  width: 30px;
  height: 100%;
}

.footerItemDiv i {
  font-size: 7px;
  margin-top: 8px;
}

footer.stroke ul li a,
footer.fill ul li a {
  position: relative;
}

footer.stroke ul li a:after,
footer.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(102, 102, 102, 0.6);
  height: 1px;
}

footer.stroke ul li a:hover:after {
  width: 100%;
}

footer.fill ul li a {
  transition: all 2s;
}

footer.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

footer.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

footer a:hover {
  opacity: 1;
}

footer.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
}

footer ul li a,
footer ul li a:after,
footer ul li a:before {
  transition: all .5s;
}

footer ul li a:hover {
  transform: scale(1.05);
  color: rgb(54, 54, 54);
}

.footerLogo:hover {
  transform: scale(1.1);
}

.footerCyberTec:hover {
  color: black;
  text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1024px) {
  .footerItem {
    width: 85%;
  }
}

@media screen and (max-width: 425px) {
  .footerItem {
    width: 85%;
  }

  .headerNav-ul li{
    font-size: 15px;
    padding: 103px 0 0 0;
  }

  .footerItem {
    text-align:center;
    display: inline-block;
  }
  .footerItem i {
    display: none;
  }
}

