@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  list-style-type: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  z-index: 10;
}

/* Estilos del Header */
.header a {
  color: black;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  letter-spacing: 2px;
  transition: 0.3s;
}

.header a:hover {
  opacity: 0.8;
  text-decoration: underline;
  color: rgba(20, 20, 20, 0.911);
}

.headerDiv {
  display: flex;
  width: 100%;
  height: 150px;
}

.headerLogo {
  width: 30%;
  display: flex;
}

.headerNav {
  width: 70%;
}

.headerLogo-div {
  margin: auto 0 auto 75px;
}

.headerLogo-img {
  height: 80px;
  width: 242px;
  transition: 0.2s;
}

.headerLogo-img:hover {
  transform: scale(1.1);
}

.headerNav-div {
  margin-right: 75px;
}

.heaederNav-ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 150px;
}

.heaederNav-ul li {
  margin: 45px 0 45px 70px;
  padding: 0 10px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: bolder;
  font-weight: 900;
  transition: 0.5s;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;
  word-spacing: 2px;
}

.headerBorder {
  width: 100%;
  height: 3px;
  background: linear-gradient(#a3a3a3 10%, #ffffff 100%);
  opacity: 1;
}

/* BTN-WSP */

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 58.3px;
  bottom: 25px;
  right: 25px;
  background: #17ac4d;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, .6);
  z-index: 100;
  transition: all 300ms ease;
}
.btn-wsp:hover {
  text-decoration: none;
  background-color: white;
  color: #17ac4d;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
}

.owl-stage-outer {
  margin: 50px 75px 0px 75px;
}

.seccion-dos {
  margin: 50px 75px 0 75px;
}

.vehiculos {
  margin: 50px 75px 90px 75px;
}

.grid-us {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 5%;
}

.item {
  border: 2px solid #a3a3a3;
}

.item-nosotros-Div,
.item-instructores-Div {
  padding: 25px;
}

.grid-us h2 {
  text-align: center;
}

.flex-inst {
  display: flex;
}

.flex-inst div {
  padding: 10px 25px 0 25px;
}

.flex-inst p {
  text-align: center;
}

.inst-img {
  height: 300px;
  width: 300px;
}

#instructores {
  width: 300px;
  height: 300px;
}

/* Footer */

.footer {
  width: 100%;
  height: auto;
}


.footerItem {
  display: flex;
  width: 55%;
  margin: 50px auto;
  justify-content: space-between;
}

.footerItem a {
  color: black;
  font-size: 15px;
  transition: 0.5s;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;
  word-spacing: 2px;
}

.footerLogo {
  display: flex;
  margin: auto;
  padding: 50px 0 0 0;
  width: 260px;
  height: 100%;
  transition: 0.3s;
}

.footerCopyRight {
  color: black;
  display: flex;
  justify-content: center;
}

.footerCyberTec {
  color: black;
}

.footerCyberTec:hover {
  opacity: 0.5;
}

.logoCyberTec {
  width: 30px;
  height: 100%;
}

.footerItemDiv i {
  font-size: 7px;
  margin-top: 8px;
}
