.owl-stage-outer {
  margin: 50px 75px 0px 75px;
}

.seccion-dos {
  margin: 50px 75px 0 75px;
}

.vehiculos {
  margin: 50px 75px 90px 75px;
}

.vehiculos h3  {
  padding: 0 0 0 7.5%;
}

.grid-us {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 5%;
}

.item {
  border: 2px solid #a3a3a3;
}

.item-nosotros-Div,
.item-instructores-Div {
  padding: 25px;
}

.grid-us h2 {
  text-align: center;
}

.flex-inst {
  display: flex;
}

.flex-inst div {
  padding: 10px 25px 0 25px;
}

.flex-inst p {
  text-align: center;
}

.inst-img {
  height: 300px;
  width: 300px;
}

#instructores {
  width: 300px;
  height: 300px;
}
